<div class="col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <div class="container">
      <hr>

      <h2 class="font-fira-m text-center">
        Select Issue <hr>
      </h2>
       <center>
         <h4>
           <%= link_to "Forgot your password?", new_user_password_path, class: 'font-fira' %><br /><hr>
           <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path, class: 'font-fira' %><br /><hr>
           <%= link_to "Something else", "#", class: 'font-fira' %><br /><hr>
         </h4>
         <h6>
           <%= link_to "Back to Login", new_user_session_path, class: 'font-fira-l' %><br /><hr>
         </h6>
       </center>
    </div>
  </div>
</div>
