<hr>
<h3 class="font-fira-m">Edit Expense Category</h3>
<hr>

<%= render 'form', expense_category: @expense_category %>

<br />

<%= link_to 'Show', @expense_category, class: 'font-fira-l' %> |
<%= link_to 'Back', expense_categories_path, class: 'font-fira-l' %>
