<hr>
<h4 class="font-fira-m">Expense Category Description</h4>
<hr>

<p>
  <b><h5 class="font-fira-m">Category name</h4></b>
  <h5 class="font-fira"><%= @expense_category.category_name %></h5>
</p>

<hr>

<p>
  <b><h5 class="font-fira-m">Description</h5></b>
  <h5 class="font-fira"><%= @expense_category.description %></h5>
</p>

<hr>

<%= link_to 'Edit', edit_expense_category_path(@expense_category), class: 'font-fira-l' %> 
