<hr>
<h3 class="font-fira-m">Edit Income Category</h3>
<hr>

<%= render 'form', income_category: @income_category %>

<br />

<%= link_to 'Show', @income_category, class: 'font-fira-l' %> |
<%= link_to 'Back', income_categories_path, class: 'font-fira-l' %>
