<hr>
<h3 class="font-fira-m">Add New Income Category</h3>
<hr>

<%= render 'form', income_category: @income_category %>
<br />

<%= link_to 'Return Back', income_categories_path, class: 'font-fira-l' %>
