<div class="col-md-6 col-md-offset-3">
  <h4 class="font-fira-m text-center heading-text">
    <b>
      <u>Let's get started with with i-manage.</u>
    </b>
  </h4>
  <hr>
  <h5 class= "text-center static-content-text font-fira">
    To Manage Expense Record's, you need to add Expense Category first! <br/><br/>
    <%= link_to '+ Add New Income Category', new_expense_category_path, class: 'font-fira' %>
  </h5>
  <hr>
</div>
